.container{
	background: #CCC;
	height: 500px;
	display: flex;

	flex-direction: row;
	flex-wrap: nowrap; /*define a quebra de linha*/
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

.item{
	background-color: #333;
	color: #FFF;
	padding: 20px;
	margin: 5px;
	height: 30px;

	/*flex-grow serve para aumentar as caixas*/
	flex-grow: 1;
	/*flex-shrink encolher os itens*/
	flex-shrink: 1;
	/*Define o comprimento do item*/
	flex-basis: 300px;
	/*flex é a forma reduzida de usar essas tres propriedades*/
	flex: 1 1 300px;

}

.article-01{
	flex-shrink: 7;
}
